<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle [(ngModel)]="darkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Enable Notifications</ion-label>
      <ion-toggle [(ngModel)]="notificationsEnabled" (ionChange)="toggleNotifications()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Temperature Unit</ion-label>
      <ion-segment [(ngModel)]="unit" (ionChange)="setUnit(unit)">
        <ion-segment-button value="metric">
          <ion-label>°C</ion-label>
        </ion-segment-button>
        <ion-segment-button value="imperial">
          <ion-label>°F</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
  </ion-list>
</ion-content>
